<div>
  <section>Budgets</section>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Project</th>
          <th>Status</th>
          <th class="text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td><a href="">1268 Hasty Trail</a></td>
          <td>Active</td>
          <td class="text-right">$80,362.89</td>
      </tr>
      <tr>
          <td><a href="">4810 North Point Way</a></td>
          <td>Active</td>
          <td class="text-right">$125,256.00</td>
      </tr>
    </tbody>
  </table>
</div>