<div>
  <section>Contractors</section>
  <a href=""><i class="fa fa-plus-circle"></i><span>add</span></a><a href=""><i class="fa fa-minus-circle"></i><span>delete</span></a>
  <table class="table table-hover">
    <thead>
        <tr>
          <th><input type="checkbox"/></th>
          <th>Name</th>
          <th>Contact</th>
          <th>Specialty</th>
          <th>Status</th>
          <th>Phone</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"/></td>
        <td><a href="">Roof Dr.</a></td>
        <td>Billy Bob Jones</td>
        <td>Roofing</td>
        <td>Active</td>
        <td>555-1212</td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td><a href="">Bill's Concrete</a></td>
        <td>Speedy Pete</td>
        <td>Concrete</td>
        <td>Active</td>
        <td>555-1212</td>
      </tr>
    </tbody>
  </table>
</div>