<div>
  <section>Equipment</section>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th>VIN</th>
          <th>Hours/Miles</th>
          <th>Purchased</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td><a href="">Catipillar D950</a></td>
          <td>1234567890</td>
          <td>2624</td>
          <td>1/1/2016</td>
      </tr>
      <tr>
          <td><a href="">Kenworth T680</a></td>
          <td>9876543210</td>
          <td>120,256</td>
          <td>8/21/2010</td>
      </tr>
    </tbody>
  </table>
</div>