<div>
  <section>Files</section>
  <a href=""><i class="fa fa-plus-circle"></i><span>add</span></a><a href=""><i class="fa fa-minus-circle"></i><span>delete</span></a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><input type="checkbox"/></th>
        <th>Name</th>
        <th>Uploaded</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><input type="checkbox"/></th>
        <td><a href="">List of fixes.docx</a></td>
        <td>2016-08-05</td>
      </tr>
    </tbody>
  </table>
</div>