.home-card {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: #eee;
  margin: 20px;
}
section {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
a {
  margin-right: 20px;
}
a span {
  text-transform: uppercase;
  padding-left: 10px;
}
table {
  margin-top: 10px;
}
.card {
  background-color: #eee;
}
.card ul {
  margin: 0;
  padding: 0;
}
.card li {
  list-style: none;
}
