.left-nav {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  background-color: #38424c;
  color: #4a7aac;
}
.left-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-nav li {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
.left-nav li a {
  width: 55px;
  height: 55px;
  color: inherit;
}
.left-nav .selected {
  color: greenyellow;
}
.left-nav a:hover {
  color: greenyellow !important;
}
