@import "variables.less";

.left-nav {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  background-color: @dark;
  color: @medium;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    
    a {
      width: 55px;
      height: 55px;
      color: inherit;
    }
  }
  
  .selected {
    color: @light;
  }
  
  a:hover {
    color: @light !important;
  }
}