<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-sm-offset-4 col-md-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" autocomplete="off">
            <fieldset>
              <div class="form-group">
                <label for="username">Email</label>
                <input class="form-control" autofocus="true" data-ng-model="credentials.email" placeholder="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" data-ng-model="credentials.password" placeholder="password">
              </div>
              <button class="btn btn-block btn-primary" data-ng-click="onSignInClicked()">Sign In</button>
            </fieldset>
          </form>
          <div data-ng-show="credentials.error" class="text-center text-danger">
            <hr/>
            <strong>Email or password is incorrect.</strong>
          </div>
        </div>
        <div class="panel-footer">
          <ul class="list-inline">
            <li><a class="btn btn-success" href="" data-ng-click="onSignUpClicked()">Sign Up</a></li>
            <li><a href="" data-ng-click="onForgotPasswordClicked()"><small>Forgot Password</small></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>