.top-nav {
  position: absolute;
  height: 45px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #38424c;
  color: #4a7aac;
  z-index: -100;
}
.top-nav ul {
  margin: 0;
  padding: 0;
}
.top-nav li {
  height: 45px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}
.top-nav li img {
  padding-left: 55px;
  padding-top: 12px;
  height: 32px;
}
.top-nav li i {
  padding-top: 10px;
}
.top-nav li .text {
  color: greenyellow;
}
.top-nav .right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
.top-nav a:hover {
  color: greenyellow !important;
}
.top-nav .list-inline {
  margin-top: 0;
}
