@import "variables.less";

.top-nav {
  position: absolute;
  height: 45px;
  top: 0;
  right: 0;
  left: 0;
  background-color: @dark;
  color: @medium;
  z-index: -100;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    height: 45px;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    
    img {
      padding-left: 55px;
      padding-top: 12px;
      height: 32px;
    }
    
    i {
      padding-top: 10px;
    }
    
    .text {
      color: @light;
    }
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }
  
  a:hover {
    color: @light !important;
  }
  
  .list-inline {
    margin-top: 0;
  }
}