<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add Calendar Event</h3>
    </div>

    <div class="panel-body">
      <div class="alert alert-danger" data-ng-if="alert.show" role="alert">
        {{alert.message}}
      </div>
      <form name="form">
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" placeholder="description" data-ng-model="event.description" required autofocus/>
          <div ng-show="form.description.$dirty && form.description.$invalid">
            <span class="small text-danger" ng-show="form.description.$error.required">Description is required</span>
          </div>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input type="text" class="form-control" name="start" placeholder="start date" ng-model="event.start" data-autoclose="true" data-dateType="iso" dateFormat="MM/dd/yyyy" bs-datepicker required>
        </div>

        <div class="form-group">
          <label>End Date</label>
          <input type="text" class="form-control" name="end" placeholder="end date" ng-model="event.end" data-autoclose="true" data-dateType="iso" dateFormat="MM/dd/yyyy" bs-datepicker required>
        </div>

        <button type="submit" class="btn btn-primary" data-ng-click="save()" data-ng-disabled="form.$invalid">Save</button>
        <a href="#/calendar">Return to calendar</a>
      </form>
    </div>
  </div>
</div>