<div class="calendar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Calendar</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li><a class="btn btn-default" href="#/addevent"><i class="fa fa-plus"></i>&nbsp;Add Event</a></li>
      </ul>
    </div>

    <div class="panel-body">
      <div class="year-control">
        <ul class="list-inline">
          <li class="previous" data-ng-click="previousMonth()"><i class="fa fa-chevron-left"></i></li>
          <li class="month-year"><b>{{month}} {{year}}</b></li>
          <li class="next" data-ng-click="nextMonth()"><i class="fa fa-chevron-right"></i></li>
        </ul>
      </div>

      <div class="section">
        <div class="header">
          <span class="day-title" data-ng-repeat="title in days"><small>{{title}}</small></span>
        </div>
        <div class="body">
          <div class="week" data-ng-repeat="week in weeks track by $index" data-ng-click="onWeekClick($index)">
            <div class="day" data-ng-class="isToday(day)" data-ng-repeat="day in week.days track by $index" data-ng-click="onDayClick($index)">{{day}}&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>