.calendar .calendar-year {
  width: 100%;
  text-align: center;
}
.calendar .day-title {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}
.calendar .day {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  text-align: left;
  padding: 2px;
  font-size: 9px;
}
.calendar .week {
  margin-top: -4px;
}
.calendar .week .day:first-child {
  border-left: 1px solid #DDDDDD;
  background-color: #eeeeee;
}
.calendar .week .day:last-child {
  background-color: #eeeeee;
}
.calendar .week .day:hover {
  background-color: #fffbe3;
}
.calendar .week .day:empty {
  background-color: #eeeeee;
}
.calendar .week .today {
  background-color: #b9def0 !important;
}
.calendar .year-control {
  width: 100%;
  text-align: center;
}
.calendar .year-control .previous,
.calendar .year-control .next {
  width: 25px;
  border-radius: 2px;
}
.calendar .year-control .previous:hover,
.calendar .year-control .next:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}
.calendar .month-year {
  width: 150px;
  text-align: center;
}
.calendar .section {
  width: 100%;
  text-align: center;
}
@media (max-width: 992px) {
  .calendar .day {
    width: 60px;
    height: 60px;
  }
  .calendar .day-title {
    font-size: 10px;
    width: 60px;
  }
}
@media (max-width: 768px) {
  .calendar .day {
    width: 40px;
    height: 40px;
  }
  .calendar .day-title {
    font-size: 8px;
    width: 40px;
  }
}
@media (max-width: 480px) {
  .calendar .day {
    width: 40px;
    height: 40px;
  }
  .calendar .day-title {
    font-size: 8px;
    width: 40px;
  }
}
