* {
  font-family: 'Carrois Gothic SC', sans-serif;
  outline: none;
}

body {
  background-image: url('/static/img/gplaypattern.png');
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

